@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*Color Swatches*/
/*
    Themed Orange: FF6D00
    Themed Purple: 3C096C
    Gray: 242424
    Whitish: f2f2f2
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}

.h1 {
    margin: 0px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

#stay-tuned{
    font-size: 4em;
}

.head-section {
    padding: 40px;
    /*box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);*/ 
}

.head-section h1 {
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.3em;
    color: #242424;
    display: flex;
    text-align: left;
}

.logo-image {
    width: 100px;
    max-width: 100%;
    display: flex;
    /*filter: hue-rotate(320deg);*/
}

.logo span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #4e4e4e;
}

.content {
    display: flex;
    /*flex-direction: row;*/
    width: 100%;
    max-width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.describe-app {
    margin-top: 10px;
    color: #242424;
    display: flex;
    text-align: left;
    font-weight: 400;
    font-size: 1.2em;
    opacity: 0.8;
}

.input-bar {
    margin-top: 15px;
    padding: 10px; 
}

input {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 90%;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #727272;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.07);
    font-family: 'Mitr', sans-serif;
    font-size: 1.1em;
}

input::placeholder{
    opacity: 0.4;
}

input:focus{
    transition: .5s;
    border-bottom: 2px solid #FF6D00;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    outline: none !important;
}

button {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    padding: 10px;
    background-color: #FF6D00;
    border: none;
    border-radius: 3px;
    transition: .3s;
    text-align: center;
    outline: none !important;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #ff994b;
}

button:active{
    background-color: #974200;
}

.display-result {
    padding: 20px;
    margin: 10px;
    background-color: #242424;
}

/*Mobile Responsing*/
@media only screen and (max-width: 600px){

    #stay-tuned {
        font-size: 3em;
        position: relative;
        
    }

    h2 {
        font-size: 1em;
        position: relative;
        max-width: 100%;
    }
    
    .describe-app {
        position: relative;
        max-width: 100%;
        display: block;
        font-size: 0.9em;
    }

    p {
        font-size: 0.9em;
    }

}

@media only screen and (max-width: 570px){
    #stay-tuned {
        font-size: 2em;
        position: relative;
    }

    .content {
        margin-top: 40px;
        font-size: 90%;
    }
}